@use '../../Sass/' as * ;


.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 3rem;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    &__loadmore {
        text-align: center;
    }
}

.movie-search {
    position: relative;
    width: 100%;
    max-width: 500px;

    input {
        width: 100%;
        padding-right: 8rem;
    }

    button {
        position: absolute;
        right: 0;
        top: 2px;

        @include mobile {
            right: 1px;
            top: 1px;
        }
    }
}
.small{
    background: rgba(239, 213, 119, 0.677);
    color: #ffffff;
    border: 1px solid rgba(255, 0, 0, 0.422);
    padding: 6px 14px;
    border-radius: 7px;
}