.card{
    position: relative;
    border-radius: 40px;
    .img__card{
        border-radius: 40px;
    }
}
.rounded__card{
    border-radius: 40px;
}

.card__body{
    position: absolute;
    bottom: 0 ;
    left: 0;
    height: 70px;
    background-color: #06060683;
    width: 100%;
    transition: all .6s ease-in-out;
    }
    .card:hover .card__body{
        // transform: scaleY(1.5);
        height: 100%;
    }
    .card:hover .crd__title{
        color: rgb(170, 255, 0) !important;
        margin-top: 20px;
       font-weight: bold;
       box-shadow:  2px 2px 2px #ffffff51;
    }
    .card__btn{
        position: absolute;
        top: 60%;
        left: 30%;
        font-size: 16px !important;
        font-weight: bold !important;
        transition: all .6s ease-in-out;
        border: 1px solid #000000;
    }
    .card__btn:hover{
      background-color: #0000003f  !important;
      border: 1px solid #ffffff;
      color: rgb(255, 255, 255) !important;
    }
    .over__card{
        display: none;
    }
    .card__body:hover  .over__card{
        // transform: scaleY(1.5);
        display: block;
        color: rgb(255, 166, 0) !important;
        font-size: 14px !important;
    }