@use '../Sass/' as *;

.discover-page {
    padding-top: 60px;
    min-height: 100vh;
    background: $body-bg;
    padding-bottom: 3rem;
    
    @include mobile {
        padding-bottom: 5rem; // Extra space for mobile nav
    }
}

.discover-sidebar {
    padding-right: 1.5rem;
    
    @include tablet {
        padding-right: 0;
        margin-bottom: 2rem;
    }
}

.discover-content {
    padding-left: 1.5rem;
    
    @include tablet {
        padding-left: 0;
    }
}

.discover-tabs {
    margin-bottom: 2rem;
    
    .nav-tabs {
        border-bottom: 2px solid rgba($white, 0.1);
        
        .nav-link {
            color: rgba($txt-color, 0.7);
            border: none;
            border-bottom: 3px solid transparent;
            padding: 1rem 2rem;
            font-weight: 600;
            transition: all 0.3s ease;
            
            &:hover {
                color: $txt-color;
                border-bottom-color: rgba($main-color, 0.5);
            }
            
            &.active {
                color: $main-color;
                background: transparent;
                border-bottom-color: $main-color;
            }
        }
    }
    
    .tab-content {
        padding-top: 2rem;
    }
}

